nie_v4_1_workflow.json
[{"updatedAt":"2026-04-13T18:50:54.320Z","createdAt":"2026-04-12T18:17:41.166Z","id":"kwGaO0DoJD6vKnt5","name":"Songss | NIE | Neural Intelligence Engine V4","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"model":"claude-3-5-sonnet-20240620","options":{"temperature":0.4}},"id":"1776d468-64c3-4b36-bcc4-0fe19a2f1f59","name":"Claude 3.5 Sonnet","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1,"position":[-288,-368],"credentials":{"anthropicApi":{"id":"SPpb2OPEmhqgPBRQ","name":"Anthropic account 2"}}},{"parameters":{"model":"sonar-reasoning-pro","messages":{"message":[{}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexityTool","typeVersion":2,"position":[-48,-384],"id":"123fadf2-83d6-4f23-8bce-9cc74a859842","name":"Message a model in Perplexity","credentials":{"perplexityApi":{"id":"uASF0EHTSpBwfxKP","name":"Perplexity account"}}},{"parameters":{"respondWith":"text","responseBody":"{\"received\": true}","options":{"responseCode":200}},"id":"822deb88-79ad-45ab-b514-938950f3d5e3","name":"Respond to Stripe","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-1824,-640]},{"parameters":{"url":"https://spotify-web-api3.p.rapidapi.com/api/artist/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=artist:{{ $('Extract Metadata1').first().json.artist_name }}"},{"name":"limit","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-RapidAPI-Key","value":"={{ $vars.RAPIDAPI_KEY }}"},{"name":"X-RapidAPI-Host","value":"spotify-web-api3.p.rapidapi.com"}]},"options":{"timeout":15000}},"id":"7fd868fe-c719-4c51-8b27-26210d89a5a6","name":"Spotify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1424,-976],"continueOnFail":true},{"parameters":{"url":"=https://api.deezer.com/search/artist?q={{ encodeURIComponent($('Extract Metadata1').first().json.artist_name) }}&limit=1","options":{"timeout":15000}},"id":"3dcd29fb-f15b-423e-85fa-294097b8bf95","name":"Deezer","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1424,-832],"continueOnFail":true},{"parameters":{"url":"https://ws.audioscrobbler.com/2.0/","sendQuery":true,"queryParameters":{"parameters":[{"name":"method","value":"artist.getinfo"},{"name":"artist","value":"={{ $('Extract Metadata1').first().json.artist_name }}"},{"name":"api_key","value":"={{ $vars.LASTFM_API_KEY }}"},{"name":"format","value":"json"}]},"options":{"timeout":15000}},"id":"5b903fb1-23b1-48d3-83d4-ee652bf703e0","name":"Last.fm","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1424,-704],"continueOnFail":true},{"parameters":{"url":"https://musicbrainz.org/ws/2/artist/","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $('Extract Metadata1').first().json.artist_name }}"},{"name":"limit","value":"1"},{"name":"fmt","value":"json"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"SONGSS-Intelligence/1.0 (songssintelligence.com)"},{"name":"Accept","value":"application/json"}]},"options":{"timeout":15000}},"id":"23e66271-e62b-46d0-beb3-fe2ecd538758","name":"MusicBrainz","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1264,-448],"continueOnFail":true},{"parameters":{"url":"https://shazam.p.rapidapi.com/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"term","value":"={{ $('Extract Metadata1').first().json.artist_name }}"},{"name":"limit","value":"5"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-RapidAPI-Key","value":"={{ $vars.RAPIDAPI_KEY }}"},{"name":"X-RapidAPI-Host","value":"shazam.p.rapidapi.com"}]},"options":{"timeout":15000}},"id":"e502a7f2-a584-488e-9c60-21e8a9605ecd","name":"Shazam","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1264,-304],"continueOnFail":true},{"parameters":{"url":"https://api.genius.com/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Extract Metadata1').first().json.artist_name }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $vars.GENIUS_ACCESS_TOKEN }}"}]},"options":{"timeout":15000}},"id":"d63bfada-a4c0-4cab-8250-fe7f2a01d056","name":"Genius","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1424,-576],"continueOnFail":true},{"parameters":{"url":"https://api.jamendo.com/v3.0/artists/","sendQuery":true,"queryParameters":{"parameters":[{"name":"client_id","value":"={{ $vars.JAMENDO_CLIENT_ID }}"},{"name":"format","value":"json"},{"name":"namesearch","value":"={{ $('Extract Metadata1').first().json.artist_name }}"},{"name":"limit","value":"1"}]},"options":{"timeout":15000}},"id":"b362f3fe-9b38-4c38-b2c6-ca84aba49914","name":"Jamendo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1264,-144],"continueOnFail":true},{"parameters":{"url":"https://soundcloud-scraper.p.rapidapi.com/v1/user/info","sendQuery":true,"queryParameters":{"parameters":[{"name":"artist","value":"={{ $('Extract Metadata1').first().json.artist_name }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-RapidAPI-Key","value":"={{ $vars.RAPIDAPI_KEY }}"},{"name":"X-RapidAPI-Host","value":"soundcloud-scraper.p.rapidapi.com"}]},"options":{"timeout":15000}},"id":"eaf7aa70-8975-41d8-a474-4ac850b244eb","name":"SoundCloud","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1264,0],"continueOnFail":true},{"parameters":{"url":"https://tiktok-scraper7.p.rapidapi.com/user/info","sendQuery":true,"queryParameters":{"parameters":[{"name":"uniqueId","value":"={{ $('Extract Metadata1').first().json.tiktok_username }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-RapidAPI-Key","value":"={{ $vars.RAPIDAPI_KEY }}"},{"name":"X-RapidAPI-Host","value":"tiktok-scraper7.p.rapidapi.com"}]},"options":{"timeout":15000}},"id":"b558a3b0-427f-45aa-9453-c81968a4b746","name":"TikTok","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1264,128],"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"agg-all","name":"all_sources","value":"={\n  \"artist_name\": \"{{ $('Extract Metadata1').first().json.artist_name }}\",\n  \"plan_name\": \"{{ $('Extract Metadata1').first().json.plan_name }}\",\n  \"customer_email\": \"{{ $('Extract Metadata1').first().json.customer_email }}\",\n  \"tiktok_username\": \"{{ $('Extract Metadata1').first().json.tiktok_username }}\",\n  \"youtube_channel_id\": \"{{ $('Extract Metadata1').first().json.youtube_channel_id }}\",\n  \"youtube\": {{ JSON.stringify($('YouTube Raw Data1').first().json) }},\n  \"spotify\": {{ JSON.stringify($('Spotify').first().json) }},\n  \"deezer\": {{ JSON.stringify($('Deezer').first().json) }},\n  \"lastfm\": {{ JSON.stringify($('Last.fm').first().json) }},\n  \"musicbrainz\": {{ JSON.stringify($('MusicBrainz').first().json) }},\n  \"shazam\": {{ JSON.stringify($('Shazam').first().json) }},\n  \"genius\": {{ JSON.stringify($('Genius').first().json) }},\n  \"jamendo\": {{ JSON.stringify($('Jamendo').first().json) }},\n  \"soundcloud\": {{ JSON.stringify($('SoundCloud').first().json) }},\n  \"tiktok\": {{ JSON.stringify($('TikTok').first().json) }}\n}","type":"string"}]},"options":{}},"id":"ad57a38c-b923-422b-89a7-9a7ece94d43f","name":"Aggregate All Sources","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,-544]},{"parameters":{"assignments":{"assignments":[{"id":"prep-html","name":"report_html","value":"={{ $json.output }}","type":"string"},{"id":"prep-id","name":"report_id","value":"={{ $now.toISO().replace(/[:.]/g, '-') + '_' + $('Extract Metadata1').first().json.artist_name.replace(/\\s+/g, '_').toLowerCase() }}","type":"string"},{"id":"prep-artist","name":"artist_name","value":"={{ $('Extract Metadata1').first().json.artist_name }}","type":"string"},{"id":"prep-plan","name":"plan_name","value":"={{ $('Extract Metadata1').first().json.plan_name }}","type":"string"},{"id":"prep-email","name":"customer_email","value":"={{ $('Extract Metadata1').first().json.customer_email }}","type":"string"},{"id":"prep-session","name":"session_id","value":"={{ $('Extract Metadata1').first().json.session_id }}","type":"string"}]},"options":{}},"id":"e80c49b6-c563-47f6-ae81-d3762dd21ac1","name":"Prepare Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,-624]},{"parameters":{"tableId":"=intelligence_reports","fieldsUi":{"fieldValues":[{"fieldId":"=artist_name","fieldValue":"={{ $json.artist_name }}"},{"fieldId":"=plan_name","fieldValue":"={{ $json.plan_name }}"},{"fieldId":"=customer_email","fieldValue":"={{ $json.customer_email }}"},{"fieldId":"=report_html","fieldValue":"={{ $json.report_html }}"},{"fieldId":"=session_id","fieldValue":"={{ $json.session_id }}"},{"fieldId":"=created_at","fieldValue":"={{ $now.toISO() }}"}]}},"id":"eceb8aab-67d0-46cb-b7b6-ab9aa2c346fb","name":"Supabase — Save Report","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[256,-768],"credentials":{"supabaseApi":{"id":"CG9D923fPUllRVLc","name":"Supabase account"}},"continueOnFail":true},{"parameters":{"httpMethod":"POST","path":"stripe-webhook","responseMode":"responseNode","options":{}},"id":"bb2b1ce8-bd6a-4fa2-83be-349f32b1a7fb","name":"Stripe Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2048,-464],"webhookId":"songss-stripe-webhook"},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"plan_name","value":"={{ $json.body.data.object.metadata.plan_name }}","type":"string"},{"id":"a2","name":"artist_name","value":"={{ $json.body.data.object.metadata.artist_name }}","type":"string"},{"id":"a3","name":"customer_email","value":"={{ $json.body.data.object.customer_details.email }}","type":"string"},{"id":"a4","name":"session_id","value":"={{ $json.body.data.object.id }}","type":"string"},{"id":"a5","name":"tiktok_username","value":"={{ $json.body.data.object.metadata.tiktok_username }}","type":"string"},{"id":"a6","name":"youtube_channel_id","value":"={{ $json.body.data.object.metadata.youtube_channel_id }}","type":"string"}]},"options":{}},"id":"df9e8678-9707-4726-9fce-9f0109bc732d","name":"Extract Metadata1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1824,-464]},{"parameters":{"url":"={{ 'https://yt-api.p.rapidapi.com/channel/about?id=' + $('Extract Metadata1').first().json.youtube_channel_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-RapidAPI-Key","value":"={{ $vars.RAPIDAPI_KEY }}"},{"name":"X-RapidAPI-Host","value":"yt-api.p.rapidapi.com"}]},"options":{"timeout":15000}},"id":"fd3570cc-bac9-42ff-9c8c-3533babdd49a","name":"YouTube Raw Data1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1424,-1120],"continueOnFail":true},{"parameters":{"promptType":"define","text":"=You are the NIE — Neural Intelligence Engine, powered by SONGSS Intelligence (Americascom, Inc. — Thinking First).\n\nAnalyze the data below and generate a complete, professional HTML report about the artist.\n\nData collected from 10 sources:\n{{ $json.all_sources }}\n\nThe HTML report must include:\n1. Header: artist name, plan ({{ $('Extract Metadata').first().json.plan_name }}), generation date\n2. Overall Digital Score (0-100) with QuickChart gauge:\n   <img src='https://quickchart.io/chart?c={\"type\":\"radialGauge\",\"data\":{\"datasets\":[{\"data\":[SCORE],\"backgroundColor\":\"#1DB954\"}]},\"options\":{\"title\":{\"display\":true,\"text\":\"Digital Score\"}}}' width='220' style='display:block;margin:0 auto;' />\n3. Streaming Presence: Spotify (followers, popularity), Deezer (fans), Last.fm (listeners, plays)\n4. Social Media: YouTube (subscribers, views), TikTok (followers, likes), SoundCloud (followers)\n5. Discovery: Shazam (trending), Genius (songs), MusicBrainz (ID), Jamendo\n6. Market Intelligence: consolidated insights, trends, opportunities\n7. Strategic Recommendations: 3 to 5 concrete, prioritized actions\n8. Footer: SONGSS Intelligence | Americascom, Inc. — Thinking First | songssintelligence.com\n\nUse: background #121212, text #FFFFFF, highlight #1DB954, sans-serif font.\nCalculate the Score based on real available data.\nReplace SCORE with the calculated number (0-100).\nReturn ONLY the complete HTML, no markdown, no explanations.","options":{"systemMessage":"You are the NIE — Neural Intelligence Engine. Always generate valid, complete, and visually professional HTML reports. Use only real data provided. Never fabricate data."}},"id":"86ef6ae7-71e5-45b8-8cc9-6e84192aba38","name":"AI Agent Analyst1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-240,-624]},{"parameters":{"fromEmail":"admin@songssintelligence.com","toEmail":"=={{ $json.customer_email }}","subject":"==🎵 Your SONGSS Intelligence Report — {{ $json.artist_name }}","html":"=={{ $json.report_html }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[464,-768],"id":"322171e7-d7a6-4d35-bca7-1b6cbf4c8c62","name":"Send an Email","webhookId":"5d55f16e-429b-4a99-b5a9-edfedbb25ce2","credentials":{"smtp":{"id":"6JTe1tM0OaFntxjN","name":"SMTP account"}}}],"connections":{"Claude 3.5 Sonnet":{"ai_languageModel":[[{"node":"AI Agent Analyst1","type":"ai_languageModel","index":0}]]},"Message a model in Perplexity":{"ai_tool":[[{"node":"AI Agent Analyst1","type":"ai_tool","index":0}]]},"Spotify":{"main":[[{"node":"Aggregate All Sources","type":"main","index":0}]]},"Deezer":{"main":[[{"node":"Aggregate All Sources","type":"main","index":0}]]},"Last.fm":{"main":[[{"node":"Aggregate All Sources","type":"main","index":0}]]},"MusicBrainz":{"main":[[{"node":"Aggregate All Sources","type":"main","index":0}]]},"Shazam":{"main":[[{"node":"Aggregate All Sources","type":"main","index":0}]]},"Genius":{"main":[[{"node":"Aggregate All Sources","type":"main","index":0}]]},"Jamendo":{"main":[[{"node":"Aggregate All Sources","type":"main","index":0}]]},"SoundCloud":{"main":[[{"node":"Aggregate All Sources","type":"main","index":0}]]},"TikTok":{"main":[[{"node":"Aggregate All Sources","type":"main","index":0}]]},"Aggregate All Sources":{"main":[[{"node":"AI Agent Analyst1","type":"main","index":0}]]},"Prepare Output":{"main":[[{"node":"Supabase — Save Report","type":"main","index":0}]]},"Stripe Webhook1":{"main":[[{"node":"Respond to Stripe","type":"main","index":0},{"node":"Extract Metadata1","type":"main","index":0}]]},"Extract Metadata1":{"main":[[{"node":"YouTube Raw Data1","type":"main","index":0},{"node":"Spotify","type":"main","index":0},{"node":"Deezer","type":"main","index":0},{"node":"Last.fm","type":"main","index":0},{"node":"MusicBrainz","type":"main","index":0},{"node":"Shazam","type":"main","index":0},{"node":"Genius","type":"main","index":0},{"node":"Jamendo","type":"main","index":0},{"node":"SoundCloud","type":"main","index":0},{"node":"TikTok","type":"main","index":0}]]},"YouTube Raw Data1":{"main":[[{"node":"Aggregate All Sources","type":"main","index":0}]]},"AI Agent Analyst1":{"main":[[{"node":"Prepare Output","type":"main","index":0}]]},"Supabase — Save Report":{"main":[[{"node":"Send an Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Extract Metadata1":[{"json":{"plan_name":"Artist Indie","artist_name":"Ivan Lins","customer_email":"gilberto@wwtvplay.com","session_id":"cs_test_ivan_lins_001","tiktok_username":"ivanlins","youtube_channel_id":"UCOVSlvuhK22vQXU9y8hT5gQ"}}]},"versionId":"2a2f6f0f-b039-494f-ba7b-3949c09e5373","activeVersionId":null,"versionCounter":150,"triggerCount":0,"tags":[{"updatedAt":"2026-04-12T23:00:05.433Z","createdAt":"2026-04-12T23:00:05.433Z","id":"IPquDtZIfQNUd6Tj","name":"Production"},{"updatedAt":"2026-04-12T23:00:05.323Z","createdAt":"2026-04-12T23:00:05.323Z","id":"P3GuzQ4t24yqRQFP","name":"SONGSS Intelligence"},{"updatedAt":"2026-04-12T23:00:05.410Z","createdAt":"2026-04-12T23:00:05.410Z","id":"vMWpocjPpZliu1Cj","name":"NIE V4"}],"shared":[{"updatedAt":"2026-04-12T18:17:41.173Z","createdAt":"2026-04-12T18:17:41.173Z","role":"workflow:owner","workflowId":"kwGaO0DoJD6vKnt5","projectId":"H8fWHoIej0YASwI6","project":{"updatedAt":"2026-04-12T14:50:23.391Z","createdAt":"2026-04-12T14:48:09.225Z","id":"H8fWHoIej0YASwI6","name":"Gilberto Georg <admin@songssintelligence.com>","type":"personal","icon":null,"description":null,"creatorId":"a534aff9-83da-4b85-9579-1dc625468e3f"}}],"versionMetadata":{"name":null,"description":null}}]